html {
  font-size: 62.75%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.mainContainer {
  padding: 0 8px;
}

.headerContainer {
  padding: 0;
}

.headerTitle {
  font-size: 2.4rem;
  line-height: 1.6rem;
  color: #546e7a;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  padding: 16px 0;
  margin: 16px 0;
  border-bottom: 2px solid #eceff1;
}

.formContainer {
  padding: 0;
}

.clientData {
  color: #546e7a;
  font-weight: bold;
  padding: 16px 0;
  margin: 16px 0;
  border-bottom: 2px solid #eceff1;
}

.inputContainer{
  margin: 16px 0;
}

.formInput :global(.MuiInputBase-input){
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.formInput :global(input::placeholder) {
  font-size: 1.6rem;
  line-height: 1.8rem;
  opacity: 0.5;
  color: #546e7a;
  font-weight: 400;
}

.formInput :global(.MuiInputLabel-shrink) {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #546e7a;
  font-weight: 400;
}

.selectContainer :global(.MuiSelect-select span) {
  font-size: 1.6rem;
  line-height: 1.8rem;
  opacity: 0.5;
  color: #546e7a;
  font-weight: 400;
}
.selectContainer :global(.MuiSelect-select) {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #000;
  font-weight: 400;
}

:global(.MuiMenu-list) :global(.MuiMenuItem-root) {
  font-size: 1.6rem !important;
  line-height: 1.8rem !important;
  font-weight: 400 !important;
}

.totalText{
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #546e7a;
  font-weight: 700;
  margin: 16px 0;
  text-align: center;
}
.submitButton{
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  padding: 0 22px;
  border-radius: 4px;
  background-color: #ff9800;
  margin-bottom: 32px;
}

@media (min-width: 0px) {
  .headerTitle {
    font-size: 1.6rem;
  }

  .clientData {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 600px) {
  .headerTitle {
    font-size: 1.8rem;
  }

  .clientData {
    font-size: 1.8rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 900px) {
  .headerTitle {
    font-size: 2.4rem;
  }

  .clientData {
    font-size: 2.4rem;
    line-height: 1.6rem;
  }
}
