
html {
  font-size: 62.75%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}



.main {
  padding: 0 8px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 8px;
  border: 1px solid rgba(221, 221, 221, 0.5);
}

.heroTitle {
  color: #546e7a;
  font-weight: 700;
  text-align: center;
  margin: 8px 0;
}
.heroImage {
  margin: 16px 0;
}

.heroText {
  color: #546e7a;
  font-weight: 700;
  text-align: center;
  margin: 8px 0;
}

.heroText > span {
  color: #019cdf;
}

.heroButton {
  color: #fff;
  background-color: #ff9800;
  height: 40px;
  text-transform: uppercase;
  margin: 8px 0;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 0) {
  .main {
    background-color: #fff;
  }

  .container {
    width: 100%;
    border: none;
  }

  .heroTitle {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .heroText {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .heroImage {
    width: 66.66%;
  }

  .heroButton {
    width: 66.66%;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
@media (min-width: 600px) {
  .main {
    background-color: #eceff1;
  }

  .container {
    width: 50%;
  }

  .heroTitle {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .heroText {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .heroImage {
    width: 66.66%;
  }

  .heroButton {
    width: 66.66%;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
@media (min-width: 900px) {
  .main {
    background-color: #eceff1;
  }

  .container {
    width: 33.33%;
  }

  .heroTitle {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  .heroText {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .heroImage {
    width: 50%;
  }
  .heroButton {
    width: 50%;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
