.customToast {
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 0px) {
  .customToast {
    font-size: 1.2rem;
}
}
@media (min-width: 600px) {
  .customToast {
    font-size: 1.6rem;
  }
}
@media (min-width: 900px) {
  .customToast {
    font-size: 2rem;
  }
}
